<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shaam1SpringAutomation">
    <test name="Run Class Annotations">
        <classes>

            <class name="clrAutomation.FirstAutomationProcess2"></class>
        </classes>
    </test>
</suite>